Beginning of the line:
<%= @line_start.name.capitalize %>

End of the line:
<%= @line_end.name.capitalize  %>

<div style="width: 70%; height: 600px;"
  data-controller="map"
  data-map-markers-selected-value="<%= @markers_selected.to_json %>"
  data-map-markers-reachable-value="<%= @markers_reachable.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
  >
</div>
