<div class="new-session-container">
  <div id="login-card" class="card">

    <div class="card-body">

      <h2 class="text-center">Sign up</h2>

      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: :false }) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :email,
                      label: false,
                      placeholder: "email*",
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "email" }%>
          <%= f.input :name,
                      label: false,
                      placeholder: "Name*",
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "name" }%>
          <%= f.input :password,
                      label: false,
                      placeholder: "Password",
                      required: true,
                      hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :password_confirmation,
                      label: false,
                      placeholder: " Confirm your password",
                      required: true,
                      input_html: { autocomplete: "new-password" } %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Sign up", class:"btn btn-primary" %>
        </div>
      <% end %>

      <br>
      <p>Forgot your password? <br>
      <%= link_to "Recover password", new_password_path(resource_name) %></p>
      <p>You already have an account? <br>
      <%= link_to "Log in", new_session_path(resource_name) %></p>

    </div>

  </div>
</div>
