<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.2)), url(<%= image_path "home-train" %>);">
  <div class="container">

<%= image_tag("logo-home.png", class:"logo") %>

    <h2>A beautiful journey does not<br>happen on a straight line</h2>
    <h3>Schedule your next multi-destination train trip, effortlessly</h3>

    <div class='search_home_container' >
    <%= simple_form_for @journey do |f| %>
      <%= f.select :station_start_id,
              Station.to_select,
              { include_blank: true },
              data: {
                controller: 'tom-select',
                placeholder: "Where do you start from ? Lyon, Bruxelles, Nice..."
              }%>
      <br>
      <%= f.submit "Lets go!", class: "btn btn-primary my-2 my-sm-0 formcity" %>
    <% end %>
  </div>
  </div>
</div>
