<% if step.kind == "line" %>
  <div
    class="ticket-wrap"
    data-action="mouseenter->journey#toggleLineHighlight mouseleave->journey#toggleLineHighlight"
    data-journey-step-id-param="<%= step.line.id %>">
    <% unless readonly %>
      <div class="delete-btn">
        <a href="#" data-action="click->journey#removeStepFromJourney" data-journey-step-id-param="<%= step.id %>">
          <i class="fa-solid fa-trash"></i>
        </a>
      </div>
    <% end %>
    <div class='ticket-concatenation'>
      <div class="ticket-left-banner">
        <svg width="16" height="130" viewBox="0 0 16 130" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M16 130H0L0 73C0 73 8 72.8788 8 65C8 57.1212 0 57 0 57L0 0H16L16 51.2121C16 51.2121 16 57.1212 16 65C16 72.8788 16 78.2955 16 78.2955L16 130Z" fill="white"/>
        </svg>
      </div>
      <div class="ticket ticket-line">
        <div class="ticket-top">
          <div class="ticket-city-start">
            <p class="ticket-city-name"><strong><%= step.line.station_start.city.name.upcase.truncate(12) %></strong></p>
            <p class="ticket-text-small"><%= step.line.station_start.name.truncate(15) %></p>
          </div>
          <div class="ticket-logo">
            <svg xmlns="http://www.w3.org/2000/svg" width="78" height="28" fill="none" viewBox="0 0 78 28">
              <path stroke="#E6612F" stroke-dasharray="2 2" stroke-linecap="round" d="M8.926 14.089h13.947M52.409 14.089h16.665"/>
              <circle cx="37.641" cy="13.909" r="13.409" fill="#fff" stroke="#E6612F"/>
              <circle cx="5.029" cy="13.909" r="3.897" fill="#fff" stroke="#E6612F"/>
              <circle cx="72.971" cy="13.909" r="3.897" fill="#fff" stroke="#E6612F"/>
              <path fill="#E6612F" d="M37.01 7.794h-5.484v5.941h.002v6.48H46.65v-1.62h-1.63c1.354 0 2.117-1.552 1.284-2.619l-1.814-2.24v4.86h-3.78l-.667-.862a3.376 3.376 0 0 0-2.677-1.299h-5.3v-2.7H44.49l-.938-1.08h-.002l-.003-.004-2.816-3.236a5.092 5.092 0 0 0-3.72-1.62Zm3.303 1.956.097.114 2.425 2.79h-6.87a3.181 3.181 0 0 1-2.558-1.295l-.671-.908c-.314-.426-.01-1.036.517-1.036h6.256c.33 0 .593.092.804.335Z"/>
              <path fill="#E6612F" d="M42.875 15.895h-1.08a.542.542 0 0 1-.54-.54c0-.297.243-.54.54-.54h1.08c.297 0 .54.243.54.54 0 .297-.243.54-.54.54Z"/>
            </svg>
          </div>
          <div class="ticket-city-end">
            <p class="ticket-city-name"><strong><%= step.line.station_end.city.name.upcase.truncate(12) %></strong></p>
            <p class="ticket-text-small"><%= step.line.station_end.name.truncate(15) %></p>
          </div>
        </div>
        <div class="ticket-dotted-line"></div>
        <div class="ticket-bottom">
          <div class="ticket-data">
            <p class="ticket-text-small text-distance">Distance</p>
            <p style="font-size:14px"><strong><%=(Geocoder::Calculations.distance_between([step.line.station_start.latitude, step.line.station_start.longitude],[step.line.station_end.latitude,step.line.station_end.longitude])).round()%></strong>km</p>
          </div>
          <div class="ticket-data">
            <p class="ticket-text-small text-duration">Duration </p>
            <p style="font-size:14px"><strong><%= step.duration / 60 %></strong>h<strong><%= (step.duration % 60).to_s.rjust(2, '0') %>
              </strong></p>
          </div>
        </div>
      </div>
      <div class="ticket-right-banner">
        <svg width="16" height="130" viewBox="0 0 16 130" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M0 0H16V57C16 57 8 57.1212 8 65C8 72.8788 16 73 16 73V130H0V78.7879C0 78.7879 0 72.8788 0 65C0 57.1212 0 51.7045 0 51.7045V0Z" fill="white"/>
        </svg>
      </div>
    </div>
  </div>
<% else %>
  <div class="ticket-wrap">
    <% unless readonly %>
      <div class="delete-btn">
        <a href="#" data-action="click->journey#removeStepFromJourney" data-journey-step-id-param="<%= step.id %>">
          <i class="fa-solid fa-trash"></i>
        </a>
      </div>
    <% end %>
    <div class="ticket ticket-stay">
      <% if step.stay.city.photo.present? %>
        <div class="ticket-bg" style="background-image: url('<%= cl_image_path step.stay.city.photo.key %>')"></div>
      <% else %>
        <div class="ticket-bg"></div>
      <% end %>
      <div class="stay-header">
        <div class="stay-city"><%= step.stay.city.name.upcase %></div>
        <div class="stay-country"> <%= step.stay.city.country %></div>
      </div>
      <div class="stay-duration">
        <i class="fa-regular fa-clock"></i>
        <%= step.stay.duration / 60 / 24 %> days
      </div>
    </div>
  </div>
<% end %>
