    
<h1>Your journeys</h1>
<% @journeys.each do |journey| %>
  <div class="container">
    <br>
    <hr>
    <ul>
      <li><strong>
          <h3><%= journey.name.upcase %> (ID:<%= journey.id %>)</h3>
        </strong></li>
      <br>
      <li>Likes: <%= journey.likes %></li>
      <li>Duration: <%= journey.duration %></li>
      <li>Start station: <%= journey.station_start.name %></li>
      <li>End station: <%= journey.station_end.name %></li>
      <br>
      <ul>
      </div>
    </select>
    <hr>
  </ul>
</ul>
<hr>
<% end %>
</div>
