<div class="container">

  <h1>Your journeys</h1>
  <br>
  <hr>
  <br>

  <% @journeys.each do |journey| %>

    <ul>

      <li><strong><h3><%= journey.name.upcase %> (ID:<%= journey.id %>)</h3></strong></li>

      <br>
      <li>Likes: <%= journey.likes %></li>
      <li>Duration: <%= journey.duration %></li>
      <li>Start station: <%= journey.city_start.name %>, <%= journey.city_start.country %></li>
      <li>End station: <%= journey.city_end.name %>, <%= journey.city_start.country %></li>


      <br>

        <ul>

        <h4><strong>À faire à <%= journey.city_end.name %></strong></h4>
        <% journey.city_end.activities.each do |activity| %>
          <li><h5><%= activity.name %></h5></li>
          <li><%= activity.description %></li>
        <% end %>

      <hr>

          <% @steps.each do |step| %>
            <li><h5><%= step.id %></h5></li>
          <% end %>

      </ul>

    </ul>

    <hr>

  <% end %>

</div>