<div class="bg-color">
  <div class="d-flex space-between row gx-0">
    <div class="banner-map col-8">
      <% if @journey.photo.attached? %>
        <%= image_tag @journey.photo, crop: :fill %>
      <% else %>
        <%= image_tag "https://images.winalist.com/blog/wp-content/uploads/2021/02/26144939/shutterstock_535048540-scaled.jpg", crop: :fill %>
      <% end %>
    </div>
    <div class="tickets-list col-4">
      <div class="container-fluid">
        <div class="-items-center">
          <div class="text-white">
            <i class="fa-solid fa-chevron-left me-2"></i>
            <%= link_to "Your journeys", journeys_path, class: "text-white text-decoration-none" %>
          </div>
          <div class="">
            <h1 class="text-center fw-bold m-0"><%= @journey.name.capitalize %></h1>
          </div>
          <div class="text-white">
            <div>
              <i class="fa-solid fa-pencil me-2"></i>
              <%= link_to "Edit this trip", edit_journey_path, class: "text-white text-end text-decoration-none" %>
            </div>
            <div>
              <%= link_to "Delete this journey", journey_path, class: "btn btn-outline-danger mt-3 btn-sm", data: {
                        turbo_method: :delete,
                        turbo_confirm: "Are you sure?"
                  } %>
            </div>
          </div>
        </div>
      </div>
      <div class="tickets" data-journey-target="tickets">
        <% @journey.steps.each do |step| %>
          <%= render "ticket", step: step, readonly: true %>
          <% if step.line %>
            <%= link_to "Go!", "https://www.thetrainline.com/book/results?origin=#{step.line.station_start.trainline}&destination=#{step.line.station_end.trainline}&outwardDate=2023-06-#{Time.now.day + 1}T12%3A00%3A00&outwardDateType=departAfter&journeySearchType=single&passengers%5B%5D=1996-06-14%7Ca15a8ad9-39a3-4d09-883f-a93c85c55e0f&directSearch=false&lang=en-us&selectedOutward=bJH5BqRpjq0%3D%3AKw2IL6ITjO8%3D%3AStandard", target: '_blank', class:'btn btn-outline-primary book-button' %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

</div>
