<% content_for :meta_title, "#{@journey.name} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, meta_description %>
<% content_for :meta_image, cl_image_path(@journey.photo.key) if @journey.photo.attached? %>

<div class="bg-color">
  <div class="d-flex space-between row g-0">
    <div class="tickets-list order-2 order-lg-1 col-12 col-lg-5 col-xl-4">
      <div class="d-flex inline-block justify-content-between">
        <span>
          <%= link_to journeys_path, class: "text-white text-decoration-none" do %>
            <i class="fa-solid fa-chevron-left me-2"></i><span class="i-tag-text">Your journeys</span>
          <% end %>
        </span>
        <span>
          <span class="mx-auto mb-3">
            <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" id="share" data-text="Hey! look at my journey on Zenloop!" data-hashtags="EcoTrip" data-lang="en" data-show-count="false">Tweet</a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
          </span>
          <span class="m-1">
            <%= link_to edit_journey_path, class: "text-decoration-none" do %>
              <i class="fa-solid fa-pencil me-2 i-tag"></i>
            <% end %>
          </span>
          <span class="m-1 mr-0">
            <%= link_to journey_path, class: "text-decoration-none", data: { turbo_method: :delete, turbo_confirm: "Do you really want to delete your journey ?" } do %>
              <i class="fa-solid fa-trash me-2 i-tag"></i>
            <% end %>
          </span>
        </span>
      </div>
      <h1 class="text-center fw-bold"><%= @journey.name.capitalize %></h1>
      <h6 class="text-center text-white">Journey duration : <%= duration_for(@journey).html_safe %> </h6>
      <h6 class="text-center text-white">Journey distance : <%= @journey.total_distance %> km !</h6>
      <div class="tickets" data-journey-target="tickets">
        <% @journey.steps.each do |step| %>
          <%= render "ticket", step: step, readonly: true %>
        <% end %>
      </div>
    </div>
    <div
    class="banner-map order-1 order-lg-2 col-12 col-lg-7 col-xl-8"
    data-controller="screenshot"
    >
      <% if @journey.photo.attached? %>
        <div
        class="screenshot"
        data-screenshot-target="screenshot"
        style="background-image: url('<%= cl_image_path @journey.photo.key %>')"
        data-action="mousemove->screenshot#move"
        >
        </div>
      <% else %>
        <div
        class="screenshot"
        data-screenshot-target="screenshot"
        style="background-image: url('https://images.winalist.com/blog/wp-content/uploads/2021/02/26144939/shutterstock_535048540-scaled.jpg')"
        data-action="mousemove->screenshot#move"
        >
      <% end %>
    </div>
  </div>
</div>
