<div class="container">
  <h1 class="text-center"><%= @journey.name.capitalize %></h1>
  <h2>Your Steps</h2>
  <p><%= @journey.station_start.name %></p>
  <% @journey.steps.each do |step| %>
    <p><%= step.line.station_end.name %></p>
    <% end %>
    <%= image_tag @journey.photo %>
  <%= link_to "See all your journeys", journeys_path, class: "btn btn-primary sm" %>
  <%= link_to "Edit your trip", edit_journey_path, class: "btn btn-primary sm" %>
  <%= link_to "Homepage", root_path, class: "btn btn-primary sm" %>
</div>
